section#contect {
  
  background-color: #1d1d1d;
}
section#contect div.wrap {  
  padding-top: 250px;
  padding-bottom: 300px;
}
section#contect div.wrap h2 {
  
}
section#contect div.wrap div.ctbox {
  
  display: flex;
}
section#contect div.wrap div.ctbox div.ctimg {
  
  width: calc(100% - 60%);
}
section#contect div.wrap div.ctbox div.ctimg img {
  
}
section#contect div.wrap div.ctbox div.ctinfo {
  
  width: calc(100% - 40%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section#contect div.wrap div.ctbox div.ctinfo h3 {
  
}
section#contect div.wrap div.ctbox div.ctinfop{
  height: 100%;
}
section#contect div.wrap div.ctbox div.ctinfop2{
  
}
section#contect div.wrap div.ctbox div.ctinfop p {
  
}
section#contect div.wrap div.ctbox div.ctinfo div.ctsitego {
  
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
section#contect div.wrap div.ctbox div.ctinfo div.ctsitego button {
  background: transparent;
  border: none;
}
section#contect div.wrap a.more:hover{
  background-color: rgb(10, 205, 206);
}
section#contect div.wrap a.more span{  
  color: #0ac7c8;
  font-weight: 600;
}
section#contect div.wrap a.more:hover span{
  color: rgb(34, 34, 34);
}