/* 포트폴리오 공통 스타일 */
#portfolio .wrap .pf-flex{
  display: flex;
}
#pf-box{
  height: auto;
  width: calc(100% / 3);
}
#pf-box:hover #pf-title{
  
  background: black;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  padding: 30px 30px 30px 30px;
  box-sizing: border-box;
  border-radius: 10px;
}
#pf-box .img-box{
  
  height: 100%;
}
#pf-title{  
  background: black;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  padding: 30px 30px 30px 30px;
  box-sizing: border-box;
  border-radius: 10px;
  display: none;
}
#pf-title .pfh{
  
  margin-bottom: 10px;
}
#pf-title .pfh h3{
  line-height: 1.6;
}
#pf-title ul.hashtag {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}
#pf-title ul.hashtag li {
  border: 2px solid rgba(10, 205, 206, 0.4);
  padding: 4px 10px;
  border-radius: 1.3rem;
}
#pf-title ul.hashtag li span{ 
  color: rgba(10, 205, 206, 1);
}
#pf-title .button-flex{
  display: flex;
  gap: 20px;
}
#pf-title .button-more:hover{
  background-color: rgb(10, 205, 206);
}
#pf-title .button-more span{  
  /*! color: rgb(10, 205, 206); */
  font-weight: 600;
}
#pf-title .button-more:hover span{  
  color: rgb(34, 34, 34);
}
#portfolio .wrap .img-box img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
/* 포폴1 */
.pf-box1{
  position: relative;
}
#pf-box .pf-title1{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#pf-box .pf-img1{
  
}

/* 포트폴리오 영역 */
#portfolio {
  background-color: #222;
}
#portfolio .wrap {  
  padding-top: 210px;
  padding-bottom: 210px;
}
#portfolio .wrap .ptflex{
  display: flex;
  gap: 30px;
}
/* 변경된 코드 */
#portfolio .wrap .pfpackage div.pftitle1 > div h3 { 
  line-height: 1.6;
}
#portfolio .wrap .pfpackage div.pftitle1 > div h4 {
  
  margin-top: 10px;
  color: #aeaeae;
  font-weight: 400;
}
#portfolio .wrap .pfpackage div.pftitle > div.pfh ul.hashtag {
  display: flex;
  gap: 15px;
  margin-top: 25px;
}
#portfolio .wrap .pfpackage div.pftitle1 ul.hashtag li span{
  color: #0ac7c8;
}
#portfolio .wrap div.pfbox1 div.pftitle > div.more {

}