div#container> img {
    width: 8vw;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

/* hover color */
a svg:hover #drive,
a svg:hover #github{ 
  fill: #0acdce;
}
a svg #drive,
a svg #github { 
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}